{
    "extends": [
        "stylelint-config-suitcss"
    ],
    "rules": {
        "string-quotes": "single",
        "at-rule-empty-line-before": [
            "always",
            {
                "except": [
                    "blockless-after-same-name-blockless",
                    "first-nested"
                ],
                "ignore": [
                    "after-comment"
                ]
            }
        ],
        "no-eol-whitespace": [true, { "ignore": ["empty-lines"] }]
    }
}