@mixin progress-lane($size, $font-icon: '.glyphicon-file', $font-class: '.glyphicon') {

  margin-right: $size;

  @keyframes slidein {

    from {
      margin-left: 0%;
    }

    to {
      margin-left: 100%;
    }

  }

  .item {
    @extend #{$font-class};
    @extend #{$font-icon};

    /* animation */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: slidein;

    font-size: $size;
    height: $size;
    width: $size;

  }

}
