<div class="container">
  <div class="row header">
    <div>
      Header from (APP VIEW)
    </div>
  </div>

  <div class="row content">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <div class="list-group">
        <a [routerLinkActive]="['active']" class="list-group-item" [routerLink]="['binding']">Binding Example</a>
        <a [routerLinkActive]="['active']" class="list-group-item" [routerLink]="['pipes']">Pipes Example</a>
        <a [routerLinkActive]="['active']" class="list-group-item" [routerLink]="['routers']">Child Router Example</a>
        <a [routerLinkActive]="['active']" class="list-group-item" [routerLink]="['datasource']">Data Source Example</a>
      </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row footer">
    <div>
      Footer (APP VIEW)
    </div>
  </div>
</div>