<h1>Data Source Example</h1>
<p>This examples shows how a data source as service can be configured for a Angular 2 component.</p>
<h4>Component configuration</h4>
<pre><code class="language-html"><![CDATA[ <data-viewer dataSource="{{selectedDataSource}}"></data-viewer> ]]></code></pre>
<h4>DataSource Declaration</h4>
<pre><code class="language-js"><![CDATA[  providers: [
    {
      provide: dataSource,
      useClass: {{dataSourceTypeName}},
      multi: true
    }
  ] ]]>
</code></pre>

<h4>Example Usage</h4>
<div class="form-group">
  <label>Select Data Source:</label>
  <select class="form-control" [(ngModel)]="selectedDataSource">
    <option *ngFor="let dataSource of dataSources">{{dataSource.name}}</option>
  </select>
</div>

<data-viewer dataSource="{{selectedDataSource}}"></data-viewer>